body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    // overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}

.video-container video:hover {
    opacity: 1;
}

.my_container{
    min-height: 560px;
}
